@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overflow-x: hidden;
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #161b21;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1d232c;
  border-radius: 10px;
}
